<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="d-flex w-100">
      <!-- Search Input -->
      <input type="text" placeholder="Search" [(ngModel)]="search">
      <button mat-flat-button color="accent" class="w-10" routerLink="/Foyer/add">Add Foyer</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-20">
    <div class="d-flex w-10">
      <!-- Foyer Table -->
      <div class="table-container">
        <table class="table">
          <thead>
          <tr>
            <!-- Titles -->
            <th class="table-header">Nom Foyer</th>
            <th class="table-header">Capacite Foyer</th>
            <th class="table-header">Bloc name</th>
            <th class="table-header">Universite</th>
            <th class="table-header">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let foyer of foyers">
            <!-- Filter based on search -->
            <ng-container *ngIf="foyer.nomFoyer === search || search === ''">
              <!-- Foyer Details -->
              <td class="table-cell">{{ foyer.nomFoyer }}</td>
              <td class="table-cell">{{ foyer.capaciteFoyer }}</td>

              <!-- Bloc Details -->
              <td class="table-cell">
                  <span *ngIf="foyer.bloc && foyer.bloc.length > 0">
                    <span *ngFor="let bloc of foyer.bloc; let last = last">
                      {{ bloc.nomBloc }}<span *ngIf="!last"> / </span>
                    </span>
                  </span>
                <span *ngIf="!foyer.bloc || foyer.bloc.length === 0">No Bloc</span>
              </td>

              <!-- Universite Details -->
              <td class="table-cell">
                <span *ngIf="foyer.universite">{{ foyer.universite.nomUniversite }}</span>
                <span *ngIf="!foyer.universite">No Universite</span>
              </td>

              <!-- Actions -->
              <td class="table-cell">
                <div class="d-flex">
                  <button mat-stroked-button class="w-10 d-flex align-items-center bg-success text-white" type="submit" value="Update Foyer" (click)="update(foyer)">Update</button>
                  <button mat-flat-button color="warn" class="w-10" (click)="deleteFoyerById(foyer.idFoyer)">Delete</button>
                </div>
              </td>
            </ng-container>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- Update Section -->
<div *ngFor="let foyer of foyers">
  <div *ngIf="isUpdating(foyer.idFoyer)">
    <app-foyer-update [foy]="foyer" (updateSuccess)="onFoyerUpdateSuccess(foyer.idFoyer)" (notif)="traitemenet($event)"></app-foyer-update>
  </div>
</div>


